<?xml version="1.0"?>
<config>
    <modules>
        <MageShop_Yapay>
            <version>1.0.0</version>
        </MageShop_Yapay>
    </modules>
    <global>
        <models>
            <mageshop_yapay>
                <class>MageShop_Yapay_Model</class>
            </mageshop_yapay>
        </models>
 
        <helpers>
            <mageshop_yapay>
                <class>MageShop_Yapay_Helper</class>
            </mageshop_yapay>
        </helpers>
        <blocks>
            <mageshop_yapay>
                <class>MageShop_Yapay_Block</class>
            </mageshop_yapay>
        </blocks>
        <validations>
            <mageshop_yapay>
              <class>MageShop_Yapay_Validations</class>
            </mageshop_yapay>
        </validations>
        <services>
            <mageshop_yapay>
              <class>MageShop_Yapay_Service</class>
            </mageshop_yapay>
        </services>
        <resources>
            <mageshop_yapay_setup>
                <setup>
                    <module>MageShop_Yapay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mageshop_yapay_setup>
            <mageshop_yapay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mageshop_yapay_write>
            <mageshop_yapay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mageshop_yapay_read>
        </resources>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
            <quote>
                <totals>
                    <yapay_discount>
                        <class>MageShop_Yapay_Model_Quote_Address_Discount</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </yapay_discount>
                    <yapay_interest>
                        <class>MageShop_Yapay_Model_Quote_Address_Interest</class>
                        <after>shipping</after>
                        <before>grand_total</before>
                    </yapay_interest>
                </totals>
            </quote>
        </sales>
        <fieldsets>
          <sales_convert_quote_payment>
            <check_no>
              <to_order_payment>*</to_order_payment>
            </check_no>
            <check_date>
              <to_order_payment>*</to_order_payment>
            </check_date>
          </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <mageshop_yapay_observer>
                        <type>singleton</type>
                        <class>mageshop_yapay/observer</class>
                        <method>shipmentCheckout</method>
                    </mageshop_yapay_observer>
                </observers>
            </sales_order_shipment_save_after>
        </events>

    </global>
    <frontend>
        <layout>
            <updates>
                <mageshop_yapay>
                    <file>mageshop/yapay.xml</file>
                </mageshop_yapay>
            </updates>
        </layout>
        <routers>
            <mageshop_yapay>
                <use>standard</use>
                <args>
                    <module>MageShop_Yapay</module>
                    <frontName>yapay</frontName>
                </args>
            </mageshop_yapay>
        </routers>
    </frontend>
    <default>
        <payment>
            <yapay_creditcardpayment>
                <model>mageshop_yapay/payment_method_cc</model>
                <active>0</active>
                <title>Cartão de Crédito - via Yapay</title>
                <sort_order>0</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <discount_installment>1</discount_installment>
                <discount_label>Desconto (%s à vista)</discount_label>
            </yapay_creditcardpayment>
            <yapay_bankslip>
                <model>mageshop_yapay/payment_method_bankslip</model>
                <active>0</active>
                <title>Boleto Bancário - via Yapay</title>
                <sort_order>2</sort_order>
                <order_status>new</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </yapay_bankslip>
            <yapay_pix>
                <model>mageshop_yapay/payment_method_pix</model>
                <active>0</active>
                <title>Pix - via Yapay</title>
                <sort_order>2</sort_order>
                <order_status>new</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
            </yapay_pix>
        </payment>
        <sales>
            <mageshop_yapay>
                <reseller_token>97ea88da3486568</reseller_token>
            </mageshop_yapay>
        </sales>
    </default>
</config>
