<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <mageshop_yapay_custompayment translate="label" module="mageshop_yapay">
          <label>Yapay Pagamento</label>
          <frontend_type>text</frontend_type>
          <sort_order>50</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <environment translate="label">
              <label>Ambiente</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_yapay/source_environment</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </environment>
            <auth_token translate="label">
              <label>Token de Autenticação</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <validate>required-entry</validate>
            </auth_token>
            <base_url>
              <label>Site Base Url</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </base_url>

            <customer_cpf_attribute>
              <label>CPF do cliente</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_yapay/source_customer_cpf</source_model>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment><![CDATA[Se sua loja já tem um campo personalizado para coletar o CPF do cliente, você pode selecionar essa opção agora. Caso contrário, você pode escolher a opção "Solicitar junto com os outros dados do pagamento" para garantir que todas as informações relevantes sejam coletadas. É importante notar que, se um CNPJ for informado no campo designado, ainda será necessário coletar o CPF para concluir a transação com cartão.]]></comment>
            </customer_cpf_attribute>

          </fields>
        </mageshop_yapay_custompayment>

        <yapay_creditcardpayment translate="label" module="mageshop_yapay">
        <label>Cartão de Crédito - Yapay</label>
        <frontend_type>text</frontend_type>
        <sort_order>51</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <fields>
          <active translate="label">
            <label>Ativado</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </active>
          <title translate="label">
            <label>Título</label>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <validate>required-entry</validate>
          </title>
          <order_status translate="label">
            <label>New Order Status</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_order_status_new</source_model>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </order_status>
          <available_payment_methods translate="label">
            <label>Meios de Pagamento disponíveis</label>
            <frontend_type>multiselect</frontend_type>
            <sort_order>50</sort_order>
            <source_model>mageshop_yapay/source_paymentMethods</source_model>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
          </available_payment_methods>
          <installments translate="label">
            <label>Quantidades de parcelas</label>
            <frontend_type>select</frontend_type>
            <source_model>mageshop_yapay/source_installments</source_model>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number integer</validate>
          </installments>
          <min_installment translate="label">
            <label>Valor Mínimo de Parcela</label>
            <frontend_type>text</frontend_type>
            <sort_order>60</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number</validate>
          </min_installment>
          <capture_tax translate="label">
            <label>Capturar documento (CPF or CNPJ) no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </capture_tax>
          <capture_name translate="label">
            <label>Capturar Nome Completo no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>70</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </capture_name>
          <capture_birth translate="label">
            <label>Capturar Data de nascimento no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>71</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </capture_birth>
          <capture_email translate="label">
            <label>Capturar E-mail no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>72</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </capture_email>
        </fields>
      </yapay_creditcardpayment>
      </groups>
    </payment>
  </sections>
</config>