<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <mageshop_yapay_custompayment translate="label" module="mageshop_yapay">
          <label>Vindi Pagamento</label>
          <frontend_type>text</frontend_type>
          <sort_order>50</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <environment translate="label">
              <label>Ambiente</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_yapay/source_environment</source_model>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </environment>
            <auth_token translate="label">
              <label>Token de Autenticação</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </auth_token>
            <base_url>
              <label>Site Base Url</label>
              <frontend_type>text</frontend_type>
              <sort_order>40</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </base_url>
            <customer_cpf_attribute>
              <label>CPF do cliente</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_yapay/source_customer_cpf</source_model>
              <sort_order>50</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment><![CDATA[Se sua loja já tem um campo personalizado para coletar o CPF do cliente, você pode selecionar essa opção agora. Caso contrário, você pode escolher a opção "Solicitar junto com os outros dados do pagamento" para garantir que todas as informações relevantes sejam coletadas. É importante notar que, se um CNPJ for informado no campo designado, ainda será necessário coletar o CPF para concluir a transação com cartão.]]></comment>
            </customer_cpf_attribute>
            <action_logs>
              <label>Gravar logs</label>
              <frontend_type>select</frontend_type>
              <source_model>mageshop_yapay/source_logs</source_model>
              <sort_order>60</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </action_logs>
          </fields>
        </mageshop_yapay_custompayment>

        <yapay_creditcardpayment translate="label" module="mageshop_yapay">
        <label>Cartão de Crédito - Vindi</label>
        <frontend_type>text</frontend_type>
        <sort_order>51</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <fields>
          <active translate="label">
            <label>Ativado</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </active>
          <title translate="label">
            <label>Título</label>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <validate>required-entry</validate>
            <depends>
                <active>1</active>
            </depends>
          </title>
          <order_status translate="label">
            <label>New Order Status</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_order_status_new</source_model>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </order_status>
          <available_payment_methods translate="label">
            <label>Meios de Pagamento disponíveis</label>
            <frontend_type>multiselect</frontend_type>
            <sort_order>50</sort_order>
            <source_model>mageshop_yapay/source_paymentMethods</source_model>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </available_payment_methods>
          <installments translate="label">
            <label>Quantidades de parcelas</label>
            <frontend_type>select</frontend_type>
            <source_model>mageshop_yapay/source_installments</source_model>
            <sort_order>40</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number integer</validate>
            <depends>
                <active>1</active>
            </depends>
          </installments>
          
          <min_installment translate="label">
            <label>Valor Mínimo de Parcela</label>
            <frontend_type>text</frontend_type>
            <sort_order>50</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number</validate>
            <depends>
                <active>1</active>
            </depends>
          </min_installment>


          <discount_active translate="label">
            <label>Oferecer desconto para pagamento por parcela?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>51</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </discount_active>

          <discount_percentage translate="label">
            <label>Defina o desconto (em %)</label>
            <frontend_type>text</frontend_type>
            <sort_order>52</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number</validate>
            <depends>
                <discount_active>1</discount_active>
            </depends>
            <comment><![CDATA[]]></comment>
          </discount_percentage>

          <discount_installment translate="label">
            <label>Defina o número de parcelas com desconto</label>
            <frontend_type>text</frontend_type>
            <sort_order>52</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <validate>required-entry validate-number</validate>
            <depends>
                <discount_active>1</discount_active>
            </depends>
            <comment><![CDATA[]]></comment>
          </discount_installment>

          <discount_label translate="label">
            <label>Legenda Padrão para o Desconto</label>
            <frontend_type>text</frontend_type>
            <sort_order>52</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <discount_active>1</discount_active>
            </depends>
            <comment><![CDATA[]]></comment>
          </discount_label>

          <interest_active translate="label">
            <label>Definir parcelas com juros?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>53</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
            <comment><![CDATA[Você pode definir cada parcela com uma porcentagem. Se essa opção estiver desativada, a configuração de parcelamento da sua conta Vindi será aplicada.]]></comment>
          </interest_active>

          <installment_interest translate="label">
            <label>Juros Parcelados</label>
            <frontend_model>mageshop_yapay/adminhtml_form_field_installments</frontend_model>
            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
            <sort_order>54</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <interest_active>1</interest_active>
            </depends>
          </installment_interest>

          <capture_tax translate="label">
            <label>Capturar CPF no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>60</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </capture_tax>
          
        </fields>
      </yapay_creditcardpayment>
      <yapay_bankslip translate="label" module="mageshop_yapay">
        <label>Boleto Bancário - Vindi</label>
        <frontend_type>text</frontend_type>
        <sort_order>52</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <fields>

          <active translate="label">
            <label>Ativado</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </active>

          <title translate="label">
            <label>Título</label>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <validate>required-entry</validate>
            <depends>
                <active>1</active>
            </depends>
          </title>

          <order_status translate="label">
            <label>New Order Status</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_order_status_new</source_model>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </order_status>

          <capture_tax translate="label">
            <label>Capturar CPF no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>60</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </capture_tax>
          
        </fields>
      </yapay_bankslip>
      <yapay_pix translate="label" module="mageshop_yapay">
        <label>Pix - Vindi</label>
        <frontend_type>text</frontend_type>
        <sort_order>53</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <fields>

          <active translate="label">
            <label>Ativado</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </active>

          <title translate="label">
            <label>Título</label>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <validate>required-entry</validate>
            <depends>
                <active>1</active>
            </depends>
          </title>

          <order_status translate="label">
            <label>New Order Status</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_order_status_new</source_model>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </order_status>

          <capture_tax translate="label">
            <label>Capturar CPF no formulário de pagamento?</label>
            <frontend_type>select</frontend_type>
            <source_model>adminhtml/system_config_source_yesno</source_model>
            <sort_order>60</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <depends>
                <active>1</active>
            </depends>
          </capture_tax>
          
        </fields>
      </yapay_pix>
      </groups>
    </payment>
    <sales>
      <groups>
        <mageshop_yapay translate="label" module="mageshop_yapay">
          <label>Vindi</label>
          <frontend_type>text</frontend_type>
          <sort_order>50</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <reseller_token translate="label">
              <label>Reseller Token</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </reseller_token>
          </fields>
        </mageshop_yapay>
      </groups>
    </sales>
  </sections>
</config>